.App {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.Board {
  justify-content: center;
  align-items: center;
  display: flexbox;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  background-color: rgb(235, 227, 227);
}

.BoardAreaDiv {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;

  min-height: 88vh;
  min-width: 100vw;
  max-height: 88vh;
  max-width: 100vw;
  margin: 0;

  
}

.StressCardsRange {
  min-height: 75vh;
  max-height: 75vh;
  min-width: 80vw;
  max-width: 80vw;
  margin: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  background-color: bisque;
}

.CardRange {
  position: absolute;
  height: 75vh;
  width: 75vw;
}

.StressCard {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 30px;

  border-style: solid;
  border-radius: 10px;

  background-color: rgb(245, 189, 4);
  z-index: 0;

  
}

.NavBarDiv {
  top: 0;
  height: 12vh;
  display: flex;
  background-color: rgb(228, 214, 191);
  text-align: center;
  justify-content: space-around;
}

.SignButton {
  padding: 30px;

  border-style: solid;
  border-radius: 10px;

  background-color: rgb(253, 23, 203);

}